body{
    background-color: rgb(201, 201, 201);
    background-image: url(genshinwall2);
}

h1{
    text-align: center;
    /*background-color: rgba(102, 102, 255, 0.24);*/
    margin-top: 0px;
    color: rgb(207, 250, 235);
    text-shadow: 1px 2px 10px rgb(0, 191, 255);
}

h2{
    color: rgb(207, 250, 235);
    text-shadow: 1px 2px 10px rgb(0, 191, 255);
    text-align: center;
    /*background-color: rgba(102, 102, 255, 0.24);*/
    margin-top: 0px;
}

.main{
    background-color: rgba(102, 102, 255, 0.24);
}
.links{
    font-size: 24px;
    color: rgb(207, 250, 235);
    text-shadow: 1px 2px 10px rgb(0, 191, 255);
    /*background-color: rgba(102, 102, 255, 0.24);*/
    text-align: center;
    margin-top: 0px;
}
a{
    color: black;
}
.icon{
    display: block;
    margin-left: 45%;
    box-shadow: 5px 5px 5px black;
}

.genshin{
    margin-top: 5px;
    text-align: center;
    font-size: 24px;
    color: rgb(207, 250, 235);
    text-shadow: 1px 2px 10px rgb(0, 191, 255);
    background-color: rgba(102, 102, 255, 0.24);
    margin-top: 5px;
    margin-left: 40%;
}

.tierlist{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}